* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #539a96;
}

@font-face {
	font-family:'digital';
	src: url(fonts/digital.ttf);
}

.calc {
  width: 600px;
  height: 600px;
  border: solid 5px #555658;
  border-radius: 30px;
  background: linear-gradient(to top, #ffff 74%,  #555658 26%);
  padding: 60px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 75px;
  grid-gap: 20px;
}

 .calc_result {
   grid-column: 1 / -1;
   background-color: #bbd0c1;
   border-radius: 30px;
   color: #555b5b;
   font-size: 56px;
   padding: 10px;
   text-align: right;
   font-family: digital;
   box-shadow: 2px 3px 2px rgb(255, 255, 255, 0.5);
   overflow: hidden;

}

 .calc_btn {
   border: none;
   border-radius: 10px;
   background-color: #555658;
   color: #ffffff;
   cursor: pointer;

   font-family: Arial;
   font-size: 45px;
   font-weight: bold;
   box-shadow: 2px 3px 2px rgb(0, 0, 0, 0.5);
}

 .calc_btn:hover {
   opacity: 0.9;
}

 .calc_btn:active {
   box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.5);
}

 .calc_btn_equal {
   background-color: #f93b2b;
}
